<h1>Invite a user to collaborate on "<%= @flock.name %>"</h1>
<p>By inviting a user to your flock they can help manage it. Inviting a user to your flock is a great way to share your flock with others.</p>
