<h1><%= @flock.name %></h1>

<%= link_to 'Edit', edit_flock_path(@flock) %> |
<%= link_to 'Back', flocks_path %>

<br>
<br>
<%= link_to 'Add Chimken', new_flock_chicken_path(@flock), class: 'btn btn-primary' %>